<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.marketing.dao.mysql.mapper.CouponMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Coupon">  
        select * from `marketing_coupon`
        where 1=1 
        <if test="merchantId !=0">and `merchantId`=#{merchantId}</if>
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `marketing_coupon`
        where 1=1 
        <if test="merchantId !=0">and `merchantId`=#{merchantId}</if>
    </select> 
    
    <select id="listActivityCoupon" parameterType="java.util.HashMap" resultType="Coupon">
        <![CDATA[ select * from `marketing_coupon` where `merchantId` = #{merchantId} and `startDate` < #{now} and #{now} < `endDate` order by `startDate` desc ]]>
    </select>
    
    <select id="countActivityCoupon" parameterType="java.util.HashMap" resultType="Integer">
        <![CDATA[ select count(*) from `marketing_coupon` 
        where `merchantId` = #{merchantId} and `startDate` < #{now} and #{now} < `endDate` order by `startDate` desc ]]>
    </select>
    
    <select id="listByPlatform" parameterType="java.util.HashMap" resultType="Coupon">
    	select * from `marketing_coupon`
        where 1=1 and `merchantId`=-1 and `enable`=1
    </select>
</mapper>