<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.orderform.dao.mysql.mapper.RefundOrderItemMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="RefundOrderItem">  
        select * from `orderform_refund_order_item` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `orderform_refund_order_item`
    </select> 
    
    <select id="listByRefund" parameterType="Long" resultType="RefundOrderItem">  
        select * from `orderform_refund_order_item` where `refundId`=#{refundId} and (`state`=10 or `state`=20)
    </select>
</mapper>