<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.orderform.dao.mysql.mapper.ReturnOrderItemMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ReturnOrderItem">  
        select * from `orderform_return_order_item` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `orderform_return_order_item`
    </select>
    
    <select id="listByReturn" parameterType="Long" resultType="ReturnOrderItem">  
        select * from `orderform_return_order_item` where `returnId`=#{returnId}  and (`state`=10 or `state`=20 or `state`=30 or `state`=40)
    </select>   
</mapper>