<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.my.dao.mysql.mapper.MyAfterSaleMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MyAfterSale">  
        select * from `my_my_after_sale` limit #{start},#{count}
    </select>
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `my_my_after_sale`
    </select>
    
    <select id="listByUser" parameterType="java.util.HashMap" resultType="MyAfterSale">  
        select * from `my_my_after_sale` where userId = #{userId} order by lastUpdateTime desc limit #{start},#{count} 
    </select>
    
   <select id="countByUser" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `my_my_after_sale` where userId = #{userId} order by lastUpdateTime desc limit #{start},#{count} 
    </select>
        
    <select id="listByUserAndSubOrder" parameterType="java.util.HashMap" resultType="MyAfterSale">  
        select * from `my_my_after_sale` where userId = #{userId} and subOrderId = #{subOrderId} order by lastUpdateTime desc
    </select>
    
    <select id="listByUserAndOrder" parameterType="java.util.HashMap" resultType="MyAfterSale">  
        select * from `my_my_after_sale` where userId = #{userId} and orderId = #{orderId} order by lastUpdateTime desc
    </select>
    
    <select id="stat" parameterType="Long" resultType="Integer">  
        select count(*) from `my_my_after_sale` where view = 1
    </select>    
</mapper>