<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.MerchandiseMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Merchandise">  
        select * from `goods_merchandise` where 1 = 1 
        <if test="name != null">
        	and  (`name` like concat('%',#{name},'%') or `sysCode` like concat('%',#{name},'%'))
        </if>
        <if test="merchantClassifyId > 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="specClassifyId > 0">
        	and `specClassifyId` = #{specClassifyId}
        </if>
        and `merchantId`=#{merchantId} order by `id` desc limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_merchandise` where 1 = 1 
        <if test="name != null">
        	and  (`name` like concat('%',#{name},'%') or `sysCode` like concat('%',#{name},'%'))
        </if>
        <if test="merchantClassifyId > 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="specClassifyId > 0">
        	and `specClassifyId` = #{specClassifyId}
        </if>  
        and `merchantId`=#{merchantId}       
    </select> 
    
    <select id="list4query2" parameterType="java.util.HashMap" resultType="Merchandise">  
        select * from `goods_merchandise` where 1 = 1 
        <if test="id > 0">
        	and `id` = #{id}
        </if>
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>
        <if test="merchantClassifyId > 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="mallClassifyId > 0">
        	and `mallClassifyId` = #{mallClassifyId}
        </if>
        <if test="merchantId > 0">
        	and `merchantId` = #{merchantId}
        </if>
        limit #{start},#{count}
    </select>  
    
     <select id="count4query2" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_merchandise` where 1 = 1 
         <if test="id > 0">
        	and `id` = #{id}
        </if>
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>
        <if test="merchantClassifyId > 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="mallClassifyId > 0">
        	and `mallClassifyId` = #{mallClassifyId}
        </if>
        <if test="merchantId > 0">
        	and `merchantId` = #{merchantId}
        </if>     
    </select> 
    
    <select id="listByMap" parameterType="java.util.HashMap" resultType="Merchandise">  
        select * from `goods_merchandise` where 1 = 1 
        <if test="id != null and id != 0">
        	and `id` = #{id}
        </if>
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>
        <if test="merchantClassifyId != null and merchantClassifyId != 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="mallClassifyId != null and mallClassifyId != 0">
        	and `mallClassifyId` = #{mallClassifyId}
        </if>
        <if test="merchantId != null and merchantId != 0">
        	and `merchantId` = #{merchantId}
        </if>
    </select> 
    
    <select id="list4MerchandiseState" parameterType="map" resultType="Merchandise">
		select * 
		from `goods_merchandise` where `state`=#{state} 
		<if test="merchantId!=0">
			and `merchantId`=#{merchantId} 
		</if> 
		limit #{start},#{count}
	</select>
	
	<select id="list4MerchandiseStateCount" parameterType="map" resultType="int">
		select count(*) 
		from `goods_merchandise` where `state`=#{state} 
		<if test="merchantId!=0">
			and `merchantId`=#{merchantId} 
		</if> 
	</select>
	
	<update id="updateMerchandiseState" parameterType="map">
		update `goods_merchandise` 
		set state=#{state} 
		where `id`=#{id}
	</update>
	
	<select id="listByName" resultType="Merchandise">
		select * from `goods_merchandise` where `name`=#{name} 
	</select>
	
	<select id="listBySysCode" resultType="Merchandise">
		select * from `goods_merchandise` where `sysCode`=#{code} 
	</select>
	
	<select id="getMerchandiseList" parameterType="java.util.HashMap" resultType="Merchandise">
		select * from `goods_merchandise` where `merchantId`=#{merchantId} 
	</select>
	
	<select id="countMerchantOnlineNumber" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from `goods_merchandise` where `merchantId`=#{merchantId} 
	</select>
	
	<select id="list4Admin" parameterType="java.util.HashMap" resultType="Merchandise">
		select * from `goods_merchandise`
		where 1=1
		 <if test="name != null">
        	and  (`name` like concat('%',#{name},'%') or `sysCode` like concat('%',#{name},'%'))
        </if>
        <if test="merchantClassifyId > 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="specClassifyId > 0">
        	and `specClassifyId` = #{specClassifyId}
        </if>
        <if test="mallClassifyId > 0">
        	and `mallClassifyId` = #{mallClassifyId}
        </if>
        
        order by merchantId,id desc
        limit #{start} ,#{count}
	</select>
	
	<select id="count4Admin" parameterType="java.util.HashMap" resultType="Integer">
		select count(*) from `goods_merchandise`
		where 1=1
		 <if test="name != null">
        	and  (`name` like concat('%',#{name},'%') or `sysCode` like concat('%',#{name},'%'))
        </if>
        <if test="merchantClassifyId > 0">
        	and `merchantClassifyId` = #{merchantClassifyId}
        </if>
        <if test="specClassifyId > 0">
        	and `specClassifyId` = #{specClassifyId}
        </if>
        <if test="mallClassifyId > 0">
        	and `mallClassifyId` = #{mallClassifyId}
        </if>
	</select>
</mapper>