<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.my.dao.mysql.mapper.ConsigneeMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Consignee">  
        select * from `my_consignee` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `my_consignee`
    </select> 
    
    <select id="listByUser" parameterType="java.util.HashMap" resultType="Consignee">  
        select * from `my_consignee` where `userId` = #{userId} order by `acquiesce`
    </select>      
</mapper>