<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.my.dao.mysql.mapper.MyCollectionObjStatisticsMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MyCollectionObjStatistics">  
        select * from `my_my_collection_obj_statistics` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `my_my_collection_obj_statistics`
    </select> 
    
    <select id="getByObjAndType" parameterType="java.util.HashMap" resultType="MyCollectionObjStatistics">  
        select * from `my_my_collection_obj_statistics` where `objId`=#{objId} and `type`=#{type}
    </select>     
</mapper>