<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.my.dao.mysql.mapper.MyToAppendEvaluationMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MyToAppendEvaluation">  
        select * from `my_my_to_append_evaluation` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `my_my_to_append_evaluation`
    </select> 
    
    <select id="listAppendEvaluation" parameterType="java.util.HashMap" resultType="MyToAppendEvaluation">  
        select * from `my_my_to_append_evaluation` where `userId` = #{userId} and `orderId` = #{orderId}
    </select>
</mapper>