<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.commoditycenter.dao.mysql.mapper.ClassifyAttributeMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ClassifyAttribute">  
        select * from `commoditycenter_classify_attribute` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `commoditycenter_classify_attribute`
    </select> 
    
    <select id="getByClassifyAndAttribute" parameterType="java.util.HashMap" resultType="ClassifyAttribute">  
        select * from `commoditycenter_classify_attribute` where `classifyId`=#{classifyId} and `attributeId`=#{attributeId}
    </select>  
  
    <select id="listByClassify" parameterType="Long" resultType="ClassifyAttribute">  
        select * from `commoditycenter_classify_attribute` where `classifyId`=#{classifyId}
        order by sort
    </select>  
    
    
</mapper>