<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.ModularUserMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ModularUser">  
        select * from `forest_modular_user` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_modular_user`
    </select> 
    
    <select id="listByUserId" parameterType="java.util.HashMap" resultType="ModularUser">  
        select * from `forest_modular_user` where userId =#{userId}
    </select>
    <select id="deleteByUserId" parameterType="java.util.HashMap" >  
        delete from `forest_modular_user` where userId =#{userId}
    </select>
</mapper>