<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.orderform.dao.mysql.mapper.ExchangeOrderItemDetailMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ExchangeOrderItemDetail">  
        select * from `orderform_exchange_order_item_detail` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `orderform_exchange_order_item_detail`
    </select> 
    
    <select id="listByExchange" parameterType="Long" resultType="ExchangeOrderItemDetail">  
        select * from `orderform_exchange_order_item_detail` where `exchangeId`=#{exchangeId}
    </select>   
</mapper>