<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.orderform.dao.mysql.mapper.OrderDiscountMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="OrderDiscount">  
        select * from `orderform_order_discount` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `orderform_order_discount`
    </select> 
    
    <select id="listBySubOrder" parameterType="Long" resultType="OrderDiscount">  
        select * from `orderform_order_discount` where subOrderId = #{subOrderId}
    </select>      
</mapper>