<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.sellercenter.dao.mysql.mapper.MerchantWealthMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MerchantWealth">  
        select * from `sellercenter_merchant_wealth` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant_wealth`
    </select>
    
       
    <select id="getByMerchant" parameterType="java.util.HashMap" resultType="MerchantWealth">  
        select * from `sellercenter_merchant_wealth`
        where `merchantId`=#{merchantId}
        limit 1
    </select> 
    
    <update id="updateLock" parameterType="java.util.HashMap">  
	   update `sellercenter_merchant_wealth` set `integral`=#{integral},`commission`=#{commission},`consumptionCurrency`=#{consumptionCurrency},`integralSummation`=#{integralSummation},`commissionSummation`=#{commissionSummation},`consumptionCurrencySummation`=#{consumptionCurrencySummation},`time`=#{time},`version`=`version` + 1 where `id`=#{id} and `version`=#{version}
    </update>
</mapper>