<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.sellercenter.dao.mysql.mapper.SexpressMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Sexpress">  
        select * from `sellercenter_sexpress` where `merchandId`=#{merchandId} limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_sexpress` where `merchandId`=#{merchandId}
    </select> 
    
    <select id="listByMerchant" parameterType="java.util.HashMap" resultType="Sexpress">
    	select * from `sellercenter_sexpress` 
    	where  1=1
    	and  `merchandId`=#{merchandId} 
    </select>
    
    <select id="getByCode" parameterType="java.util.HashMap" resultType="Sexpress">
    	select * from `sellercenter_sexpress` 
    	where  1=1
    	and  `merchandId`=#{merchandId} 
    	and `code`=#{code}
    	limit 1
    </select>
</mapper>