<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcloud.component.sellercenter.dao.mysql.mapper.StoreMemberMapper">
    <select id="list4query" parameterType="java.util.HashMap" resultType="StoreMember">
        select * from `sellercenter_store_member` where `merchantId`=#{merchantId}
        <if test="storeId != null and storeId > 0">
            and `storeId`=#{storeId}
        </if>
        limit #{start},#{count}
    </select>

    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">
        select count(*) from `sellercenter_store_member` where `merchantId`=#{merchantId}
        <if test="storeId != null and storeId > 0">
            and `storeId`=#{storeId}
        </if>
    </select>
    <select id="list" resultType="StoreMember">
        SELECT * FROM sellercenter_store_member WHERE 1 = 1
        <if test="id != null and id > 0">
            AND id = #{id}
        </if>
        <if test="memberId != null and memberId > 0">
            AND memberId = #{memberId}
        </if>
        <if test="merchantId != null and merchantId > 0">
            AND merchantId = #{merchantId}
        </if>
        <if test="storeId != null and storeId > 0">
            AND storeId = #{storeId}
        </if>
        <if test="order != null">
            ORDER BY ${order}
        </if>
        <if test="start != null and count != null">
            LIMIT #{start},#{count}
        </if>
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM sellercenter_store_member WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="memberId != null">
            AND memberId = #{memberId}
        </if>
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
        <if test="storeId != null">
            AND storeId = #{storeId}
        </if>
    </select>
</mapper>