<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.CombinationMerchandiseMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="CombinationMerchandise">  
        select * from `goods_combination_merchandise` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_combination_merchandise`
    </select> 
    
    <select id="getByUnifiedMerchandise" parameterType="Long" resultType="CombinationMerchandise">  
        select * from `goods_combination_merchandise` where `unifiedMerchandiseId`=#{unifiedMerchandiseId}
    </select>


    <select id="list" resultType="CombinationMerchandise">
        SELECT * FROM goods_combination_merchandise WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="unifiedMerchandiseId != null">
            AND unifiedMerchandiseId = #{unifiedMerchandiseId}
        </if>
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
        <if test="order != null">
            ORDER BY ${order}
        </if>
        <if test="start != null and count != null">
            LIMIT #{start},#{count}
        </if>
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM goods_combination_merchandise WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="unifiedMerchandiseId != null">
            AND unifiedMerchandiseId = #{unifiedMerchandiseId}
        </if>
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
    </select>
</mapper>