<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.MerchandiseBrowsingHistoryMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MerchandiseBrowsingHistory">  
        select * from `goods_merchandise_browsing_history` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_merchandise_browsing_history`
    </select> 
    
      <select id="listByUser" parameterType="java.util.HashMap" resultType="MerchandiseBrowsingHistory">  
        select * from `goods_merchandise_browsing_history` where userId = #{userId} limit #{start},#{count}
    </select>  
    <!-- 通过UserId获取我的历史足迹数 -->
      <select id="countByUserId" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_merchandise_browsing_history` where userId = #{userId} 
    </select>  
</mapper>