<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.MonthHotSaleMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MonthHotSale">  
        select * from `goods_month_hot_sale` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_month_hot_sale`
    </select>
    
    <select id="getByUnifiedMerchandise" parameterType="java.util.HashMap" resultType="MonthHotSale">
        select * from `goods_month_hot_sale` where unifiedMerchandiseId = #{unifiedMerchandiseId} and year = #{year} and month = #{month} limit 0,1
    </select>
        
    <select id="listByMallBsid" parameterType="java.util.HashMap" resultType="MonthHotSale">  
        select *,sum(number) total from `goods_month_hot_sale` where 1 = 1 and year = #{year} and month = #{month} and mallBsid like concat(#{mallBsid},'%') group by unifiedMerchandiseId,year,month order by total desc limit 0,#{number}
    </select> 
    
    <select id="listByMerchantBsid" parameterType="java.util.HashMap" resultType="MonthHotSale">  
        select *,sum(number) total from `goods_month_hot_sale` where 1 = 1 and year = #{year} and month = #{month} and merchantBsid like concat(#{merchantBsid},'%') group by unifiedMerchandiseId,year,month order by total desc limit 0,#{number}
    </select>         
</mapper>