<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.MerchandiseSpecificationsMapper">
    <select id="list4query" parameterType="java.util.HashMap" resultType="MerchandiseSpecifications">
        select * from `goods_merchandise_specifications` limit #{start},#{count}
    </select>

    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">
        select count(*) from `goods_merchandise_specifications`
    </select>

    <select id="listByMerchandise" parameterType="Long" resultType="MerchandiseSpecifications">
        select * from `goods_merchandise_specifications` where `merchandiseId`=#{merchandiseId}
    </select>
    
    
    <select id="list" resultType="MerchandiseSpecifications">
        SELECT * FROM goods_merchandise_specifications WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="merchandiseId != null">
            AND merchandiseId = #{merchandiseId}
        </if>
        <if test="state != null">
            AND state = #{state}
        </if>
        <if test="value0 !=null ">
        	AND `value0` in ${value0}
        </if>
        <if test="value1 !=null ">
        	AND `value1` in ${value1}
        </if>
        <if test="order != null">
            ORDER BY ${order}
        </if>
        <if test="start != null and count != null">
            LIMIT #{start},#{count}
        </if>
    </select>
    
    
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM goods_merchandise_specifications WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="merchandiseId != null">
            AND merchandiseId = #{merchandiseId}
        </if>
        <if test="state != null">
            AND state = #{state}
        </if>
        <if test="value0 !=null ">
        	AND `value0` in #{value0}
        </if>
        <if test="value1 !=null ">
        	AND `value1` in #{value1}
        </if>
    </select>
    
    <select id="listByUnifiedMerchandise" parameterType="Long" resultType="MerchandiseSpecifications">
        SELECT * FROM goods_merchandise_specifications WHERE 1 = 1 AND unifiedMerchandiseId = #{unifiedMerchandiseId}        
    </select>        
</mapper>