<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.MerchandiseEvaluationMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MerchandiseEvaluation">  
        select * from `${table_name}` where merchandiseId=#{merchandiseId} AND star &gt;= #{star} 
        <if test="nextStar != 0">
            AND star &lt; #{nextStar}
        </if>
        
        limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
       select count(*) from `${table_name}` where merchandiseId=#{merchandiseId} AND star &gt;= #{star} 
        <if test="nextStar != 0">
            AND star &lt; #{nextStar}
        </if>
    </select> 
    
     <select id="list" parameterType="java.util.HashMap" resultType="MerchandiseEvaluation">  
        select * from `${table_name}` WHERE merchandiseId=#{merchandiseId} AND status=#{status}
<!--          AND star &gt;= #{star} -->
<!--         <if test="nextStar != 0"> -->
<!--             AND star &lt; #{nextStar} -->
<!--         </if> -->
<!--          ORDER BY time DESC limit #{start},#{count} -->
    </select>
    
    <select id="count" parameterType="java.util.HashMap" resultType="Integer">  
       select count(*) from `${table_name}` where merchandiseId=#{merchandiseId} AND status=#{status}
<!--         AND star &gt;= #{star}  -->
<!--         <if test="nextStar != 0"> -->
<!--             AND star &lt; #{nextStar} -->
<!--         </if> -->
    </select>
    
     <delete id="deleteByMerchandiseId">
        delete FROM `${table_name}` where `id` = #{id}
    </delete>  
</mapper>