<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.goods.dao.mysql.mapper.MonthHotSaleMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MonthHotSale">  
        select * from `goods_month_hot_sale` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `goods_month_hot_sale`
    </select> 
</mapper>