<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.warehouse.dao.mysql.mapper.StockStateMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="StockState">  
        select * from `warehouse_stock_state` limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `warehouse_stock_state`
    </select>
    
    <select id="listAllByMap" resultType="StockState">
        SELECT * FROM `warehouse_stock_state` WHERE 1 = 1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="formStoreId != null">
            AND formStoreId = #{formStoreId}
        </if>
        <if test="toStoreId != null">
            AND toStoreId = #{toStoreId}
        </if>
    </select>
</mapper>