<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.brokerage.dao.mysql.mapper.UpgradeOrderMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="UpgradeOrder">  
        select * from `brokerage_upgrade_order` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `brokerage_upgrade_order`
    </select> 
</mapper>