<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.commoditycenter.dao.mysql.mapper.MerchandiseMarketingMapper">     
     
    <select id="list4query" parameterType="java.util.HashMap" resultType="MerchandiseMarketing">  
        select * from `commoditycenter_merchandise_marketing` 
        where 1=1
        <if test="activityId !=null &amp;&amp; activityId !=0">
        	and `activityId`=#{activityId}
        </if>
        <if test="sence !=null &amp;&amp; sence !=0">
        	and `sence`=#{sence}
        </if>
        <if test="name != null">
            and ( name LIKE CONCAT('%',#{name},'%') or sysCode LIKE CONCAT('%',#{name},'%') )
        </if>
        <if test="activityIdList !=null">
        	and `activityId` in
	        <foreach collection="activityIdList" item="id" open="(" separator="," close=")">
	        	#{id}
	        </foreach>
        </if>
        order by `order` asc
        limit #{start},#{count}
    </select>  
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `commoditycenter_merchandise_marketing`
        where 1=1
        <if test="activityId !=null &amp;&amp; activityId !=0">
        	and `activityId`=#{activityId}
        </if>
        <if test="sence !=null &amp;&amp; sence !=0">
        	and `sence`=#{sence}
        </if>
        <if test="name != null">
            and ( name LIKE CONCAT('%',#{name},'%') or sysCode LIKE CONCAT('%',#{name},'%') )
        </if>
        <if test="activityIdList !=null">
        	and `activityId` in
	        <foreach collection="activityIdList" item="id" open="(" separator="," close=")">
	        	#{id}
	        </foreach>
        </if>
    </select> 
    
    
    <select id="getByUnifiedMerchandise" parameterType="Long" resultType="MerchandiseMarketing">  
        select * from `commoditycenter_merchandise_marketing` where `unifiedMerchandiseId`=#{unifiedMerchandiseId}
    </select>      
    
    <update id="setEnable" parameterType="java.util.HashMap">
    	update `commoditycenter_merchandise_marketing` set `enable`=#{enable} where `id`=#{id}
    </update>
    
    <select id="list" parameterType="java.util.HashMap" resultType="MerchandiseMarketing">  
        <![CDATA[select * from `commoditycenter_merchandise_marketing` where discount <= #{discountRange} and sence = #{sence} limit #{start},#{count}]]>
    </select>                   
</mapper>