<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.ArticleMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Article">  
        select * from `forest_article` where 1=1
        <if test="classifyId !=0">and classifyId = #{classifyId}</if>
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_article` where 1=1
        <if test="classifyId !=0">and classifyId = #{classifyId}</if>
    </select> 
    
      <select id="ClassifyIdPage" parameterType="java.util.HashMap" resultType="Article">  
        select * from `forest_article` where enable = 1 
        and classifyId = #{classifyId} order by sort
    </select> 
    
    <select id="ClassifyIdPageCount" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_article` where enable = 1 
        and classifyId = #{classifyId}  order by sort
    </select> 
    
     <select id="getBySort" parameterType="java.util.HashMap" resultType="Article">  
        select * from `forest_article` where enable = 1
         and classifyId = #{classifyId}
        <if test="type==2">and sort &lt; #{sort}  order by sort DESC</if> 
        <if test="type==1">and sort &gt; #{sort}  order by sort</if>
        limit 1
    </select> 
    
</mapper>