<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.ArticlePraiseMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="ArticlePraise">  
        select * from `forest_article_praise` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_article_praise`
    </select> 
    
    <select id="getByUser" parameterType="java.util.HashMap" resultType="ArticlePraise">  
        select * from `forest_article_praise` 
        where `userId`=#{userId} and `articleId`=#{articleId} limit 1
    </select>
</mapper>