<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.BpCalculationMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="BpCalculation">  
        select * from `forest_bp_calculation` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_bp_calculation`
    </select>
    
     <select id="getByRange" parameterType="java.util.HashMap" resultType="BpCalculation">  
        select * from `forest_bp_calculation` where #{sbp} between sbpMin and sbpMax and #{dbp} between dbpMin and dbpMax limit 1
    </select>   
</mapper>