<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.IntegralOrderMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="IntegralOrder">  
        select * from `forest_integral_order`  where 1=1
        <if test="orderNumber>0">
        and `orderNumber`=#{orderNumber}
        </if>
        order by time
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_integral_order`  where 1=1
        <if test="orderNumber>0">
        and `orderNumber`=#{orderNumber}
        </if>
    </select> 
    
    
    <select id="listByUser" parameterType="java.util.HashMap" resultType="IntegralOrder">  
        select * from `forest_integral_order` 
        where 1=1
        <if test="type == 0">
			and `state` !=10     
        </if>
        <if test="state > 0 ">
        	and `state`=#{state}
        </if>
        and `userId`=#{userId}
        limit #{start},#{count}
    </select> 
    
    <select id="countByUser" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_integral_order`
        where 1=1
        <if test="type == 0">
			and `state` != 10     
        </if>
        <if test="state > 0 ">
        	and `state`=#{state}
        </if>
        and `userId`=#{userId}
    </select> 
    
    
    <select id="getByOrder" parameterType="java.util.HashMap" resultType="IntegralOrder">  
        select * from `forest_integral_order` 
        where 1=1
        and `orderNumber`=#{orderId}
        limit 1
    </select>  
</mapper>