<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.MedicationTimeMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MedicationTime">  
        select * from `forest_medication_time` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_medication_time`
    </select> 
    
    <select id="listByMedicationId" resultType="MedicationTime">
        select * from `forest_medication_time` where medicationId = #{medicationId}
    </select> 
    
     <select id="listByExcuteTime" parameterType="java.util.HashMap" resultType="MedicationTime">
        <![CDATA[select * from `forest_medication_time` where `excuteTime` > #{beginExcuteTime} and `excuteTime` <= #{endExcuteTime}]]>
    </select>
</mapper>