<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper
	namespace="com.qcloud.project.forest.dao.mysql.mapper.MedicationRemindersTimeMapper">
	<select id="list4query" parameterType="java.util.HashMap"
		resultType="MedicationRemindersTime">
		select * from `forest_medication_reminders_time` limit #{start},#{count}
	</select>

	<select id="count4query" parameterType="java.util.HashMap"
		resultType="Integer">
		select count(*) from `forest_medication_reminders_time`
	</select>
	<select id="deleteByReminderId" parameterType="java.util.HashMap">
		delete from `forest_medication_reminders_time` where
		`reminderId`=#{reminderId}
	</select>
	<select id="listByExcuteTime" parameterType="java.util.HashMap" resultType="MedicationRemindersTime">
		select *  from `forest_medication_reminders_time` where
		`excuteTime`=#{excuteTime}
	</select>
</mapper>