<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.project.forest.dao.mysql.mapper.PartsMerchandiseMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="PartsMerchandise">  
        select * from `forest_parts_merchandise` where 1=1
        <if test="classifyId > 0">
			and `classifyId` =#{classifyId}
		</if>
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `forest_parts_merchandise` where 1=1
        <if test="classifyId > 0">
			and `classifyId` =#{classifyId}
		</if>
    </select> 
    
    <select id="listByClassifyId" parameterType="java.util.HashMap" resultType="PartsMerchandise">  
        select * from `forest_parts_merchandise` where `classifyId` = #{classifyId}
    </select>
    
    <delete id="deleteByClassify">
       DELETE FROM `forest_parts_merchandise` WHERE `classifyId`=#{classifyId}
    </delete>
    
</mapper>