<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.personalcenter.dao.mysql.mapper.MembershipCardWarehouseMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="MembershipCardWarehouse">  
        select * from `personalcenter_membership_card_warehouse`
        where 1=1
        <if test="cardNumber !=null">
        	and `cardNumber` like concat('%',#{cardNumber},'%')
        </if>
        limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `personalcenter_membership_card_warehouse`
        where 1=1
        <if test="cardNumber !=null">
        	and `cardNumber` like concat('%',#{cardNumber},'%')
        </if>
    </select> 
    
    <select id="getByCardNumber" parameterType="String" resultType="MembershipCardWarehouse">  
        select * from `personalcenter_membership_card_warehouse` where cardNumber = #{cardNumber}
    </select> 
</mapper>