<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.sellercenter.dao.mysql.mapper.StoreDeliveryRangeMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="StoreDeliveryRange">  
        select * from `sellercenter_store_delivery_range` limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_store_delivery_range`
    </select> 
    
    <select id="getByStore" parameterType="Long" resultType="StoreDeliveryRange">  
        select * from `sellercenter_store_delivery_range` where `storeId`=#{storeId}
    </select>      
</mapper>