<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.qcloud.component.commoditycenter.dao.mysql.mapper.MerchandiseItemMapper">
    <select id="list4query" parameterType="java.util.HashMap" resultType="MerchandiseItem">
        select * from `commoditycenter_merchandise_item` where 1=1
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        limit #{start},#{count}
    </select>

    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">
        select count(*) from `commoditycenter_merchandise_item` where 1=1
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>
    
     <select id="getBySpecifications" parameterType="java.util.HashMap" resultType="MerchandiseItem">
        select * from `commoditycenter_merchandise_item` WHERE 
        `merchandiseId`=#{merchandiseId} and `merchandiseSpecificationsId` = #{merchandiseSpecificationsId}
    </select>
    
    <select id="getByUnifiedMerchandise" parameterType="Long" resultType="MerchandiseItem">
        select * from `commoditycenter_merchandise_item` where `unifiedMerchandiseId`=#{unifiedMerchandiseId}
    </select>
    
    <select id="list"  resultType="MerchandiseItem">
        SELECT * FROM commoditycenter_merchandise_item WHERE 1 = 1 AND `state`!=1 AND `state`!=5 AND `merchandiseSpecificationsId`!=-1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
        <if test="unifiedMerchandiseId != null">
            AND unifiedMerchandiseId = #{unifiedMerchandiseId}
        </if>
        <if test="unifiedMerchandiseId_gt != null">
            AND unifiedMerchandiseId > #{unifiedMerchandiseId_gt}
        </if>
        <if test="kwd_like != null">
            AND name LIKE CONCAT('%',#{kwd_like},'%')
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
        <if test="order != null">
            ORDER BY ${order}
        </if>
        <if test="start != null and count != null">
            LIMIT #{start},#{count}
        </if>
        
    </select>
    <select id="count" resultType="int">
        SELECT COUNT(*) FROM commoditycenter_merchandise_item 
        WHERE 1 = 1 AND `state`!=1 AND `state`!=5 AND `merchandiseSpecificationsId`!=-1
        <if test="id != null">
            AND id = #{id}
        </if>
        <if test="merchantId != null">
            AND merchantId = #{merchantId}
        </if>
        <if test="unifiedMerchandiseId != null">
            AND unifiedMerchandiseId = #{unifiedMerchandiseId}
        </if>
        <if test="unifiedMerchandiseId_gt != null">
            AND unifiedMerchandiseId > #{unifiedMerchandiseId_gt}
        </if>
        <if test="kwd_like != null">
            AND name LIKE CONCAT('%',#{kwd_like},'%')
        </if>
        <if test="name != null">
            AND name LIKE CONCAT('%',#{name},'%')
        </if>
    </select>

    <select id="listByMerchandise" parameterType="Long" resultType="MerchandiseItem">
        select * from `commoditycenter_merchandise_item` where `merchandiseId`=#{merchandiseId}
    </select>
    
    
    <select id="list4Front" parameterType="java.util.HashMap" resultType="MerchandiseItem">
        select * from `commoditycenter_merchandise_item` where 1=1 AND state = 4
        <if test="merchantId != null and merchantId > 0">
            AND merchantId = #{merchantId}
        </if>
        <if test="merchantClassifyId != null and merchantClassifyId > 0">
            AND (merchantClassifyId = #{merchantClassifyId} OR merchantClassifyBsid like CONCAT(#{merchantClassifyBsid},'%'))
        </if>       
        
        <if test="mallClassifyId != null and mallClassifyId > 0">
            AND (mallClassifyId = #{mallClassifyId} OR mallClassifyBsid like CONCAT(#{mallClassifyBsid},'%'))
        </if>          
        <if test="brandId != null and brandId > 0">
            AND brandId = #{brandId}
        </if>
        <if test="name != null">
            AND (name LIKE CONCAT('%',#{name},'%') OR keywords LIKE CONCAT('%',#{name},'%'))
        </if>           
        <if test="queryType == 1">
            group by merchandiseId
        </if>   
     	 <!--  <if test="queryType == 2">
            AND merchandiseSpecificationsId != -1 
        </if> -->               
        order by ${orderField} ${orderType} limit #{start},#{count}
    </select>

    <select id="count4Front" parameterType="java.util.HashMap" resultType="Integer">
        select count(*) from (select * from `commoditycenter_merchandise_item` where 1=1 AND state = 4
       <if test="merchantId != null and merchantId > 0">
            AND merchantId = #{merchantId}
        </if>
        <if test="merchantClassifyId != null and merchantClassifyId > 0">
            AND (merchantClassifyId = #{merchantClassifyId} OR merchantClassifyBsid like CONCAT(#{merchantClassifyBsid},'%'))
        </if>       
        
        <if test="mallClassifyId != null and mallClassifyId > 0">
            AND (mallClassifyId = #{mallClassifyId} OR mallClassifyBsid like CONCAT(#{mallClassifyBsid},'%'))
        </if>          
        <if test="brandId != null and brandId > 0">
            AND brandId = #{brandId}
        </if>
        <if test="name != null">
            AND (name LIKE CONCAT('%',#{name},'%') OR keywords LIKE CONCAT('%',#{name},'%'))
        </if>           
        <if test="queryType == 1">
            group by merchandiseId
        </if> 
        <!--  <if test="queryType == 2">
            AND merchandiseSpecificationsId != -1
        </if> -->) A    
    </select>
    
    
    <select id="list4Select4Admin" parameterType="java.util.HashMap" resultType="MerchandiseItem">
    	select * from `commoditycenter_merchandise_item` 
    	where 1=1 AND `state`!=1 AND `state`!=5 AND `merchandiseSpecificationsId`!=-1
    	<if test="merchantId != null and merchantId > 0">
            AND merchantId = #{merchantId}
        </if>
    	<if test="name != null">
            AND (name LIKE CONCAT('%',#{name},'%') OR keywords LIKE CONCAT('%',#{name},'%'))
        </if>
        <if test="mallClassifyId != null and mallClassifyId > 0">
            AND mallClassifyId = #{mallClassifyId}
        </if> 
        <if test="merchantClassifyId != null and merchantClassifyId > 0">
            AND merchantClassifyId = #{merchantClassifyId}
        </if> 
        <if test="unifiedMerchandiseId != null">
            AND unifiedMerchandiseId = #{unifiedMerchandiseId}
        </if>
    	limit #{start},#{count}
    </select>
    
    
    <select id="count4Select4Admin" parameterType="java.util.HashMap" resultType="Integer">
    	select count(*) from `commoditycenter_merchandise_item` 
    	where 1=1 AND `state`!=1 AND `state`!=5 AND `merchandiseSpecificationsId`!=-1 
    	<if test="merchantId != null and merchantId > 0">
            AND merchantId = #{merchantId}
        </if>
        <if test="merchandiseId != null and merchandiseId > 0">
            AND merchandiseId = #{merchandiseId}
        </if>
    	<if test="name != null">
            AND (name LIKE CONCAT('%',#{name},'%') OR keywords LIKE CONCAT('%',#{name},'%'))
        </if>
        <if test="mallClassifyId != null and mallClassifyId > 0">
            AND mallClassifyId = #{mallClassifyId}
        </if> 
        <if test="merchantClassifyId != null and merchantClassifyId > 0">
            AND merchantClassifyId = #{merchantClassifyId}
        </if> 
        <if test="unifiedMerchandiseId != null">
            AND unifiedMerchandiseId = #{unifiedMerchandiseId}
        </if>
    </select>
    <select id="merchandiseListByMerchantId" parameterType="java.util.HashMap" resultType="MerchandiseItem">
    	select * from `commoditycenter_merchandise_item` where `merchantId`=#{merchantId}
    </select>
</mapper>