<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.sellercenter.dao.mysql.mapper.MerchantMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1 
        <if test="name != null">
        	and ( `name` like concat('%',#{name},'%') or `flagship` like concat('%',#{name},'%') )
        </if>  
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>
        <if test="code != null">
        	and `code` like concat('%',#{code},'%')
        </if>        
        <if test="admin != null">
        	and `admin` = #{admin} 
        </if>  
        order by id desc limit #{start},#{count}
    </select>  
    
    <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1 
        <if test="name != null">
        	and ( `name` like concat('%',#{name},'%') or `flagship` like concat('%',#{name},'%') )
        </if>          
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>
        <if test="code != null">
       		and `code` like concat('%',#{code},'%')
       	</if>        
        <if test="admin != null">
        	and `admin` = #{admin} 
        </if> 
    </select> 
    
    
    <select id="list" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1 and `merchantType`=1 and `state`=1
        <if test="name != null">
        	and ( `name` like concat('%',#{name},'%') or `flagship` like concat('%',#{name},'%') )
        </if>  
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>        
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]> 
        </if>        
        limit #{start},#{count}
    </select>     
    
    <select id="count" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and ( `name` like concat('%',#{name},'%') or `flagship` like concat('%',#{name},'%') )
        </if>          
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>     
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if>      
    </select>   
    
    <select id="listNew" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>  
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if>     
         order by registTime desc limit #{start},#{count}
    </select>     
    
    <select id="countNew" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>          
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>  
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if>  
         order by registTime desc     
    </select>   
    
    <select id="listHot" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>  
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if> 
        limit #{start},#{count}
    </select>     
    
    <select id="countHot" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>          
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>  
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `longitude` < #{maxLatitude}]]>
        </if>       
    </select>   
    
     <select id="listRecently" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>  
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if> 
        limit #{start},#{count}
    </select>     
    
    <select id="countRecently" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1  and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>          
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if> 
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if>        
    </select>   
    
    <select id="listFavourable" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1 and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>  
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if> 
        limit #{start},#{count}
    </select>     
    
    <select id="countFavourable" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1  and merchantType=1  and `state`=1
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>          
        <if test="classifyId != null and classifyId > 0">
        	and `classifyId`=#{classifyId}
        </if>  
        <if test="distance > 0">
        	<![CDATA[and #{minLongitude} < `longitude` and `longitude` < #{maxLongitude} and  #{minLatitude} < `latitude` and `latitude` < #{maxLatitude}]]>
        </if>       
    </select>
    
    <select id="list4Merchant" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where 1 = 1  and `state`=1 and merchantType=1 and id not in(select merchantId from `sellercenter_merchant_sort`)
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>  
        
        limit #{start},#{count}
    </select>  
    
    <select id="count4Merchant" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1  and `state`=1  and merchantType=1  and id not in(select merchantId from `sellercenter_merchant_sort`)
        <if test="name != null">
        	and `name` like concat('%',#{name},'%') 
        </if>          
    </select> 
    
    <update id="disableMerchant" parameterType="java.util.HashMap">
    	update `sellercenter_merchant` set `state`=2 where `id`=#{id}
    </update>
    
    <update id="enableMerchant" parameterType="java.util.HashMap">
    	update `sellercenter_merchant` set `state`=1 where `id`=#{id}
    </update>
    
    
    <select id="listNeedAudit" parameterType="java.util.HashMap" resultType="Merchant">  
        select * from `sellercenter_merchant` where commodityAuditing=1 and `name` like #{keyword} limit #{start},#{count}
    </select>  
    
    <select id="listNeedAuditCount" parameterType="java.util.HashMap" resultType="Integer">  
      	select count(*) from `sellercenter_merchant` where commodityAuditing=1  and `name` like #{keyword} 
    </select> 
    
 	<select id="count4DeleteByClassifyId" parameterType="java.util.HashMap" resultType="Integer">  
      	select count(*) from `sellercenter_merchant` where `classifyId`=#{classifyId}
    </select> 	   
    
    <select id="getByCode" parameterType="String" resultType="Merchant">  
        select * from `sellercenter_merchant` where code = #{code}
    </select>      
        
    <update id="updateMerchantNotify" parameterType="java.util.HashMap" >
    	update `sellercenter_merchant` set `notify`=#{notify} where `id`=#{id}
    </update>
        
    <select id="countByName" parameterType="String" resultType="Integer">  
        select count(*) from `sellercenter_merchant` where 1 = 1 and `name`=#{name} 
    </select>     
</mapper>