<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE mapper  
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">  
<mapper namespace="com.qcloud.component.organization.dao.mysql.mapper.DepartmentMapper">          
    <select id="list4query" parameterType="java.util.HashMap" resultType="Department">  
        select * from `organization_department` where 1=1
        <if test="displayName != null">
        	and `displayName` like concat('%',#{displayName},'%') 
        </if>
        limit #{start},#{count}
    </select>
    
     <select id="count4query" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `organization_department` where 1=1
        <if test="displayName != null">
        	and `displayName` like concat('%',#{displayName},'%') 
        </if>
    </select> 
    
     <select id="getByCode" parameterType="String" resultType="Department">  
        select * from `organization_department` where 1=1 and code = #{code}       
    </select>
    
     <select id="listByParent" parameterType="java.util.HashMap" resultType="Department">  
        select * from `organization_department` where 1=1 and parentId = #{parentId} and bsid like CONCAT(#{bsid},'%') order by bsid        
    </select>
    
    <select id="getByManager" parameterType="java.util.HashMap" resultType="Department">  
        select * from `organization_department` where 1=1 and manager=#{manager}        
    </select>
    
    <select id="listChildrenByParent" parameterType="java.util.HashMap" resultType="Department">  
        select * from `organization_department` where 1=1 and bsid like CONCAT(#{bsid},'%')
        <if test="displayName != null">
        	and `displayName` like concat('%',#{displayName},'%') 
        </if>
        order by bsid        
        limit #{start},#{count}
    </select>
    
    <select id="countChildrenByParent" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `organization_department` where 1=1 and bsid like CONCAT(#{bsid},'%')
        <if test="displayName != null">
        	and `displayName` like concat('%',#{displayName},'%') 
        </if>
    </select> 
    
    
    <select id="listByAddress" parameterType="java.util.HashMap" resultType="Department">  
        select * from `organization_department` 
        where 1=1   
        <if test="province !=null">
        	and `province` like concat('%',#{province},'%')
        </if>
        <if test="city !=null">
        	and `city` like concat('%',#{city},'%')
        </if>
        <if test="district !=null">
        	and `district` like concat('%',#{district},'%')
        </if>
        <if test="address !=null">
        	and `address` like concat('%',#{address},'%')
        </if>
        order by bsid        
        limit #{start},#{count}
    </select>
    
    <select id="countByAddress" parameterType="java.util.HashMap" resultType="Integer">  
        select count(*) from `organization_department` 
        where 1=1 
        <if test="province !=null">
        	and `province` like concat('%',#{province},'%')
        </if>
        <if test="city !=null">
        	and `city` like concat('%',#{city},'%')
        </if>
        <if test="district !=null">
        	and `district` like concat('%',#{district},'%')
        </if>
        <if test="address !=null">
        	and `address` like concat('%',#{address},'%')
        </if>
    </select>
    
    <select id="listNearby" parameterType="java.util.HashMap" resultType="Department">  
    <![CDATA[ 
		select * from `organization_department` where
		
		latitude > #{latitude}-1*0.0180180*2.5 and
		
		latitude < #{latitude}+1*0.0180180*2.5 and
		
		longitude > #{longitude}-1*0.0180180*2.5 and
		
		longitude < #{longitude}+1*0.0180180*2.5
		
		order by ACOS(SIN((#{latitude} * 3.1415) / 180 ) *SIN((latitude * 3.1415) / 180 ) +COS((#{latitude} * 3.1415) / 180 ) * COS((latitude * 3.1415) / 180 ) *COS((#{longitude}* 3.1415) / 180 - (longitude * 3.1415) / 180 ) ) * 6380 asc limit 4
		]]>
    </select>
    
    
</mapper>